# Basic solder configs
APP_URL=https://solder.technicpack.net/
APP_PORT=8080
SOLDER_MIRROR_URL=https://solder.technicpack.net/mods/

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=solderpy

R2_ENDPOINT=
R2_URL=https://123
R2_ACCESS_KEY=123
R2_SECRET_KEY=123