.wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 10fr 20vw;
    grid-template-rows: auto;
    gap: 0.5vw;
}

.asideleft {
    grid-column: 1;
    grid-row: 1;
    top: 0;
    left: 0;
    position: sticky;
}

.asideright {
    grid-column: 3;
    grid-row: 1;
    top: 0;
    right: 0;
    position: sticky;
    height: 100vh;
    min-width: 12em;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

main {
    grid-column: 2;
    grid-row: 1;
}

.image {
    max-width: 18em;
    min-width: 8em;
    width: 10vw;
}

.sidenav {
    position: sticky;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto max-content;
}

.wrappernav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 5fr 1fr;
}

.imgcontainer {
    justify-self: center;
    padding: 1em;
    grid-row: 1;
}

.navcontainer {
    padding: 1em;
    grid-row: 2;
}

.navcontainer2 {
    padding: 1em;
    grid-row: 3;
    align-self: end;
}

.minwidth {
    min-width: 20vw;
}

.maxwidth {
    min-width: 20vw;
}

.maxheighttable {
    max-height: 10vh;
}

.gridswrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 0.5vw;
}

.grid1 {
    grid-column: 1;
    grid-row: 1;
}

.grid2 {
    grid-column: 2;
    grid-row: 1;
}

.spacers {
    min-height: 5vh;
}

[data-bs-theme="dark"] .asideright {
    background-color: var(--bs-body-bg) !important;
}

[data-bs-theme="dark"] .table-light {
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-bg: var(--bs-tertiary-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-striped-color: var(--bs-body-color);
}

.flash-message-container {
    bottom: 1.5rem;
    left: 50%;
    max-width: calc(100vw - 2rem);
    pointer-events: none;
    position: fixed;
    transform: translateX(-50%);
    width: 36rem;
    z-index: 1090;
}

.flash-message-container .alert {
    margin-bottom: 0.5rem;
    pointer-events: auto;
}

.flash-message-container .alert:last-child {
    margin-bottom: 0;
}
