.imgcontainer {
  justify-self: center;
  padding: 1em;
  grid-row: 1;
}

.image {
  max-height: 6vh;
  min-height: 60px;
}

form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  gap: 10px;
  justify-self: center;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 60vh;
}

.wrapper {
  place-self: center;
  align-items: center;
  max-height: 50px;
}

.user {
  text-align: center;
  grid-row: 2;
}

.pass {
  text-align: center;
  grid-row: 3;
}

.login {
  grid-row: 4;
}

.loginfail {
  padding: 1em;
}