.wrappermod {
  max-width: fit-content;
}

.sticky {
  position: sticky;
  top: 0;
}

.tablewidth2 {
  width: 100%;
  max-width: 160px;
}

.tablewidth4 {
  max-width: 30vw;
}

.tablewidth {
  width: max-content;
  max-width: 160px;
  min-width: max-content;
}

.tablewidth3 {
  width: 60vw;
}

.maxcontents {
  max-width: 1vw;
}

.divider {
  height: 5rem;
}

.rowheight {
  max-height: 20px;
}

table.fixed {
  table-layout: fixed;
  width: 60vw;
}

/*Setting the table width is important!*/

table.fixed tr {
  overflow: hidden;
  max-height: 20px
}

/*Hide text outside the cell.*/
table.fixed td {
  overflow: hidden;
}

/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {
  width: 3rem;
  width: 3rem;
  max-height: min-content;
}

/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {
  width: 100%;
  max-height: min-content;
}

/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {
  max-width: min-content;
  max-height: min-content;
}

/*Setting the width of column 3.*/
table.fixed td:nth-of-type(4) {
  width: min-content;
  max-height: min-content;
}

/*Setting the width of column 3.*/