{%extends "layout.html"%} {% set active_page = "apikeylibrary" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}" />
{%endblock%}{%block main%}



<div class="">
    <table class="table table-striped table-hover maxheighttable">
        <thead class="table-light sticky-md-top">
            <tr>
                <form method="post" action=""></form>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">API KEY</th>
                <th scope="col" class="tablewidthsearch">Actions</th>
                </form>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in keys%}
            <tr>
                <td class="tablewidthid">{{mod.id}}</td>
                <td class="tablemaxwidth">{{mod.name}}</td>
                <td class="tablemaxwidth">{{mod.api_key}}</td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="submitbuttonpress('delete_id', '{{mod.id}}', 'form2-submit')">Delete</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="delete_id" id="delete_id" readonly>
        <input class="btn btn-danger invisible" type="submit" name="form2-submit" id="form2-submit" value="Delete">
    </form>
</div>
{% endblock %}
{%block aside%}
<div class="">
    <form method="post" action="">
        <div class="mb-3">
            <label for="keyname" class="form-label">API NAME</label>
            <input type="text" class="form-control" name="keyname" id="keyname" required>
        </div>
        <div class="mb-3">
            <label for="api_key" class="form-label">API KEY</label>
            <input type="text" class="form-control" name="api_key" id="api_key" required>
        </div>
        <input class="btn btn-success" type="submit" name="form-submit" id="form-submit" value="Add api key">
    </form>
</div>

<script src="{{ url_for('static',filename='js/solderpy.js') }}"></script>
{% endblock %}