{%extends "layout.html"%} {% set active_page = "" %} {%block head%}
<title>solder.py</title>

{%endblock%}{%block main%}
<div class="minwidth">
    <form method="post" action="">
        <div class="mb-3" ">
            <label for="pretty_name " class="form-label ">Modpack Name</label>
            <input type="text " class="form-control " name="pretty_name " id="pretty_name ">
        </div>
        <div class="mb-3 "">
            <label for="name" class="form-label">Modpack Slug</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Hidden">
            <label class="form-check-label" for="Hidden">Hidden</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Private">
            <label class="form-check-label" for="Private">Private</label>
        </div>
        <input class="btn btn-success" type="submit" value="Add modpack">
    </form>
</div>
{% endblock %}