{%extends "layout.html"%} {% set active_page = "help" %}
{%block head%}<title>Help - solder.py</title>{%endblock%}
{%block main%}
<div class="container-fluid">
    <h2>Help</h2>
    <p class="text-muted">Documentation included with this solder.py version.</p>
    <div class="list-group">
        {%for document in documents%}
        <a class="list-group-item list-group-item-action" href="{{url_for('asite.help_document', document=document.slug)}}">
            <h5 class="mb-1">{{document.title}}</h5>
            <p class="mb-1">{{document.description}}</p>
        </a>
        {%endfor%}
    </div>
</div>
{%endblock%}
