<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/sp.png') }}" type="image/x-icon" />


    {% block head %}{% endblock %}
</head>


<body class="wrapper">
    <main class="mainpos">{%block main%}{% endblock %}</main>


    <aside class="bg-dark asideleft">
        <div class="sidenav">
            <div class="imgcontainer">
                <a href="/">
                    <div>
                        <img src="{{ url_for('static', filename='images/solderwhite.py.png') }}" class="image">
                    </div>
                </a>
            </div>
            <nav class="flex-column flex-shrink-0 p-3 text-white navcontainer">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('asite.index') }}" class="nav-link text-white {{ 'active' if active_page == 'index' else '' }}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ url_for('asite.modpacklibrary') }}" class="nav-link text-white {{ 'active' if active_page == 'modpacklibrary' else '' }}">Modpacks</a>
                    </li>
                        {%for mod in pinnedmodpacks%}
                        <ul>
                            <a href="{{ url_for("asite.modpack", id=mod.id) }}" class="nav-link text-white {{ 'active' if active_page == mod.id and active_page_modpack == 'modpack' else '' }}">{{mod.name}}</a>
                        </ul>
                        {%endfor%}
                    {% if markedbuildid2 != 0 %}
                    <li>
                        <a href="{{ url_for("asite.modpackbuild", id=markedbuildid2) }}" class="nav-link text-white {{ 'active' if active_page == markedbuildid2 and active_page_build == 'build' else '' }}">Marked build</a>
                    </li>
                    {%endif%}
                    <li>
                        <a href="{{ url_for('asite.modlibrary') }}" class="nav-link text-white {{ 'active' if active_page == 'modlibrary' else '' }}">Mod
                            library</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#settings-collapse" href="#" role="button" aria-expanded="false">Settings</a>
                        <div class="collapse" id="settings-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{{ url_for('asite.clientlibrary') }}" class="nav-link text-white {{ 'active' if active_page == 'clientlibrary' else '' }}">Clients</a></li>
                                <li><a href="{{ url_for('asite.apikeylibrary') }}" class="nav-link text-white {{ 'active' if active_page == 'apikeylibrary' else '' }}">API Keys</a></li>
                                <li><a href="{{ url_for('asite.userlibrary') }}" class="nav-link text-white {{ 'active' if active_page == 'userlibrary' else '' }}">Users</a></li>
                                <li><a href="{{ url_for('asite.mainsettings') }}" class="nav-link text-white {{ 'active' if active_page == 'mainsettings' else '' }}">Env Settings</a></li>
                                <li><a href="{{ url_for('asite.logout') }}" class="nav-link text-white {{ 'active' if active_page == 'logout' else '' }}">Logout</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
            <div class="flex-column flex-shrink-0 p-3 text-white navcontainer2">
                <p class="">Version {{ solderversion }}</p>
            </div>

        </div>
    </aside>

    <aside class="bg-light asideright">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert alert-danger mx-auto" role="alert">
                <p>{%- for msg in errors %}
                {{ msg }}
                {% endfor -%}</p>
            </div>
            {% endif %}
        {% endwith %}
        {%block aside%}{% endblock %}
    </aside>

</body>

<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

</html>