<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/index.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/THORFUSION_OFFICIALfav.png')}}"
      type="image/x-icon"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block head %}{% endblock %}
  </head>
  <body class="wrapper">
    <main>{%block main%}{% endblock %}</main>
    
    <aside class="bg-dark">
        <div class="imgcontainer">
          <a href="/">
            <div>
              <img src="static/images/solderwhite.py.svg">
            </div>
          </a>
        </div>
    </aside>
  </body>
</html>
