<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/sp.png')}}" type="image/x-icon" />
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <form action="" method="POST" class="">
            <div class="imgcontainer">
                <img src="{{ url_for('static', filename='images/solder.py.png') }}" class="image">
            </div>
            <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}"
                class="user form-control"><br />
            <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}"
                class="pass form-control"><br />
            <input type="submit" value="Login" class="login w-100 btn btn-lg btn-primary"><br /> {% if failed %}
            <div class="alert alert-danger loginfail mx-auto" role="alert">
                <p>Login failed!</p>
            </div>
            {% endif %}
        </form>
    </div>
</body>

</html>