{%extends "layout.html"%} {% set active_page = "mainsettings" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
{%endblock%}{%block main%}



<div class="wrappermod">
    <a href="{{ url_for('apikeylibrary') }}"><button type="button" class="btn btn-success tablewidth2">View api
            keys</button></a>
    <a href="{{ url_for('clientlibrary') }}"><button type="button" class="btn btn-success tablewidth2">View
            clients</button></a>
    <a href="{{ url_for('userlibrary') }}"><button type="button" class="btn btn-success tablewidth2">View
            users</button></a>

    <p>
        Show current settings in .env file here
    </p>

    <div class="placetwo minwidth maxwidth">
    </div>
</div>

{% endblock %}