{%extends "layout.html"%} {% set active_page = "mainsettings" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
{%endblock%}{%block main%}



<div class="wrappermod">
    <table class="table" id="table">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col" class="">DEBUG ENV</th>
                <th scope="col" class=""></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="">VERSION:</td>
                <td class="">{{versr}}</td>
            </tr>
            <tr>
                <td class="">NAME:</td>
                <td class="">{{nam}}</td>
            </tr>
            <tr>
                <td class="">DEBUG:</td>
                <td class="">{{deb}}</td>
            </tr>
            <tr>
                <td class="">NEW_USER:</td>
                <td class="">{{newuser}}</td>
            </tr>
            <tr>
                <td class="">MIGRATE_TECHNIC:</td>
                <td class="">{{technic}}</td>
            </tr>
            <tr>
                <td class="">DB_IS_UP:</td>
                <td class="">{{DB_IS_UP}}</td>
            </tr>
            <thead class="table-light sticky-md-top">
                <tr>
                    <th scope="col" class="">NETWORK ENV</th>
                    <th scope="col" class=""></th>
                </tr>
            </thead>
            <tr>
                <td class="">HOST:</td>
                <td class="">{{host}}</td>
            </tr>
            <tr>
                <td class="">PORT:</td>
                <td class="">{{port}}</td>
            </tr>
            <tr>
                <td class="">PUBLIC_REPO_URL:</td>
                <td class="">{{public_repo_url}}</td>
            </tr>
            <tr>
                <td class="">MD5_REPO_URL:</td>
                <td class="">{{md5_repo_url}}</td>
            </tr>
            <tr>
                <td class="">PUBLIC_URL_LOCATION:</td>
                <td class="">{{solder_url}}</td>
            </tr>
            <thead class="table-light sticky-md-top">
                <tr>
                    <th scope="col" class="">Cache ENV</th>
                    <th scope="col" class=""></th>
                </tr>
            </thead>
            <tr>
                <td class="">cache_algorithm:</td>
                <td class="">{{cache_algorithm}}</td>
            </tr>
            <tr>
                <td class="">cache_size:</td>
                <td class="">{{cache_size}}</td>
            </tr>
            <thead class="table-light sticky-md-top">
                <tr>
                    <th scope="col" class="">DB ENV</th>
                    <th scope="col" class=""></th>
                </tr>
            </thead>
            <tr>
                <td class="">Database:</td>
                <td class="">{{db_name}}</td>
            </tr>
            <thead class="table-light sticky-md-top">
                <tr>
                    <th scope="col" class="">R2 ENV</th>
                    <th scope="col" class=""></th>
                </tr>
            </thead>
            <tr>
                <td class="">R2 Bucket URL:</td>
                <td class="">{{r2_url}}</td>
            </tr>
            <tr>
                <td class="">R2 Bucket:</td>
                <td class="">{{r2_bucket}}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{%block aside%}
<div class="">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">MD5 Hashing, included for verifying hashes manually for ZIP files</label>
            <input class="form-control" type="file" id="file" onchange="hashmd5()">
        </div>
        <div class="mb-3">
            <label for="md5" class="form-label">md5</label>
            <input type="text" class="form-control" name="md5" id="md5" readonly>
        </div>
        <div class="mb-3">
            <label for="filesize" class="form-label">filesize</label>
            <input type="text" class="form-control" name="filesize" id="filesize" readonly>
        </div>
    </form>
</div>


<script src="{{ url_for('static',filename='js/solderpy.js') }}"></script>
<script src="{{ url_for('static',filename='js/md5.min.js') }}"></script>

{% endblock %}