{%extends "layout.html"%}
{% set active_page = "modlibrary" %}
{%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modlibrary.css') }}" />
{%endblock%}{%block main%}

<div class="wrappermod">
  <table class="table table-striped table-hover placeone" id="table">
    <thead class="table-light sticky-md-top">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name (Slug)</th>
        <th scope="col">Author</th>
        <th>
          <div class="">
            <input type="text" class="form-control" id="search" placeholder="Type to search" onkeyup="tablesearches();">
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {%for mod in mods%}
      <tr>
        <td>{{mod.id}}</td>
        <td>{{mod.pretty_name}} ({{mod.name}})</td>
        <td>{{mod.author}}</td>
        <td>
          <div class="">
            <button type="button" class="btn btn-primary" onclick="buttonpress('mod', '{{mod.name}}'); toslug(md5, mod);">Select</button>
            <a href="./modversion/{{mod.id}}"><button type="button" class="btn btn-secondary">Manage</button></a>
          </div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  <div class="placetwo minwidth maxwidth">
    <form method="post" action="" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="mod" class="form-label">selected mod</label>
        <input type="text" class="form-control" name="mod" id="mod" disabled readonly>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Select file</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
        <label for="md5" class="form-label">md5</label>
        <input type="text" class="form-control" name="md5" id="md5" disabled readonly>
      </div>
      <label>Select type</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          MOD.JAR
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          Launcher
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
        <label class="form-check-label" for="flexRadioDefault3">
          ZIP
        </label>
      </div>
      <div class="mb-3">
        <label for="version" class="form-label">Version number</label>
        <input type="text" class="form-control" name="version" id="version">
      </div>
      <input class="btn btn-success" type="submit" value="Add Version">
    </form>
    {% if success %}
    <div class="alert alert-success loginfail mx-auto" role="alert">
      <p>{{mod.vmd5}}</p>
      <p>{{mod.vurl}}</p>
    </div>
    {% endif %}
    {% if failed %}
    <div class="alert alert-danger loginfail mx-auto" role="alert">
      <p>Failed!</p>
    </div>
    {% endif %}
    <div class="divider">
    </div>
    <div class="">
      <a href="{{ url_for('newmod') }}"><button type="button" class="btn btn-success tablewidth2">New
          mod</button></a>
    </div>
  </div>
</div>

<script src="{{ url_for('static',filename='js/tablesearch.js') }}"></script>

{% endblock %}