{%extends "layout.html"%} 
{% set active_page = "modlibrary" %}
{%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modlibrary.css') }}"/>
{%endblock%}{%block main%}

<div class="wrappermod">
  <table class="table placeone">
    {%for mod in mods%}
    <tr>
      <td>{{mod.id}}</td>
      <td>{{mod.pretty_name}} ({{mod.name}})</td>
      <td>{{mod.author}}</td>
      <td>
        <a href="./modversion/{{mod.id}}"><button type="button" class="btn btn-secondary">Manage</button></a>
      </td>
    </tr>

    {%endfor%}
  </table>
  
  <div class="placetwo minwidth maxwidth">
    <form method="post" action="">
      <div class="mb-3"">
        <label for="pretty_name" class="form-label">selected mod</label>
        <input type="text" class="form-control" name="pretty_name" id="pretty_name" disabled readonly>
    </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Select file</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3"">
            <label for="pretty_name" class="form-label">md5</label>
            <input type="text" class="form-control" name="pretty_name" id="pretty_name" disabled readonly>
        </div>
        <label>Select type</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            MOD.JAR
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Launcher
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            ZIP
          </label>
        </div>
        <div class="mb-3"">
            <label for="author" class="form-label">Version number</label>
            <input type="text" class="form-control" name="author" id="author">
        </div>
        <input class="btn btn-success" type="submit" value="Add Version">
    </form>
    {% if success %}
    <div class="alert alert-success loginfail mx-auto" role="alert">
      <p>{{mod.vmd5}}</p>
      <p>{{mod.vurl}}</p>
    </div>
    {% endif %}
    {% if failed %}
    <div class="alert alert-danger loginfail mx-auto" role="alert">
      <p>Failed!</p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
