{%extends "layout.html"%} {% set active_page = "modpacklibrary" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modlibrary.css') }}" /> {%endblock%}{%block main%}

<div class="wrappermod">
    <table class="table table-striped table-hover maxheighttable">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Build</th>
                <th scope="col">MC Version</th>
                <th scope="col">Mod count</th>
                <th scope="col">Recommended</th>
                <th scope="col">Latest</th>
                <th scope="col">Published</th>
                <th scope="col">Private</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in modpack%}
            <tr>
                <td>{{mod.id}}</td>
                <td>{{mod.version}}</td>
                <td>{{mod.minecraft}}</td>
                <td>{{mod.author}}</td>
                <td><input class="form-check-input" type="radio" name="flexRadioDefault" value="" id="rec_{{mod.id}}" {%
                        if mod.rec %}checked{% endif %}></td>
                <td><input class="form-check-input" type="radio" name="flexRadioDefault1" value=""
                        id="latest_{{mod.id}}" {% if mod.latest %}checked{% endif %}></td>
                <td><input class="form-check-input" type="checkbox" value="" id="published_{{mod.id}}" {% if
                        mod.is_published %}checked{% endif %}></td>
                <td><input class="form-check-input" type="checkbox" value="" id="private_{{mod.id}}" {% if mod.private
                        %}checked{% endif %}></td>
                <td>
                    <div class="tablewidth">
                        <a href="../modpackbuild/{{mod.id}}"><button type="button"
                                class="btn btn-primary">Manage</button></a>
                        <a href="../modpackbuild/{{mod.id}}"><button type="button" class="btn btn-secondary">Export
                                MCIL</button></a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
{%block aside%}

<div class="">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="selected_name" class="form-label">selected modpack</label>
            <input type="text" class="form-control" name="selected_name" id="selected_name" disabled readonly></input>
        </div>
        <div class="mb-3">
            <label for="buildnumber" class="form-label">Build number</label>
            <input type="text" class="form-control" name="buildnumber" id="buildnumber"></input>
        </div>
        <div class="mb-3">
            <label for="mcversion" class="form-label">Minecraft version</label>
            <input type="text" class="form-control" name="mcversion" id="mcversion"></input>
        </div>
        <div class="mb-3">
            <label for="clonebuild" class="form-label">Clone build</label>
            <select class="form-select" name="clonebuild" id="clonebuild">
                <option>Do not clone</option>
                {%for mod in modpack%}
                <option>{{mod.version}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="mb-3">
            <label for="min_java" class="form-label">Minium Java Version</label>
            <select class="form-select" name="min_java" id="min_java">
                <option>No requirement</option>
                <option>1.8</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="memory" class="form-label">Minimum Memory requirement in MB, 0 for disable</label>
            <input type="text" class="form-control" name="memory" id="memory" value="0"></input>
        </div>
        <input class="btn btn-success" type="submit" value="Add build"></input>
    </form>
    {% if success %}
    <div class="alert alert-success loginfail mx-auto" role="alert">
        <p>{{mod.vmd5}}</p>
        <p>{{mod.vurl}}</p>
    </div>
    {% endif %}
    {% if failed %}
    <div class="alert alert-danger loginfail mx-auto" role="alert">
        <p>Failed!</p>
    </div>
    {% endif %}
</div>

{% endblock %}