{%extends "layout.html"%} {%block head%}
<title>modpack</title>

{%endblock%} {%block header%} {%for key, link in lenker.items()%}
<a href="{{link}}" class="btn">{{key}}</a>
{%endfor%} {%endblock%}{%block main%}
<h1 id="terralization"><a href="terralization/home">Terralization</a></h1>
<p>Highly optimized, great performance an modpack thats for everyone</p>

<h1 id="poldencraft">
  <a href="https://www.technicpack.net/modpack/poldencraft.244709"
    >Poldencraft</a
  >
</h1>
<p>
  Poldencraft is our vanilla modpack for vanilla servers designed to run fast
  and look good. The pack is also known as Terralization Vanilla
</p>

<h1 id="world-of-worldcraft">
  <a href="https://www.technicpack.net/modpack/world-of-worldcraft.1591122"
    >World of Worldcraft</a
  >
</h1>
<p>Lite version of Poldencraft</p>

<h1 id="terralization-1122">
  <a href="https://www.technicpack.net/modpack/bitbytepack.626387"
    >Terralization 1.12.2</a
  >
</h1>
{%endblock%}
