{%extends "layout.html"%} {% set active_page = "modpacks" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modlibrary.css') }}" /> {%endblock%}{%block main%}

<div class="wrappermod">
    <table class="table table-striped table-hover placeone maxheighttable">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col">Name (Slug)</th>
                <th scope="col">Version</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in modpackbuild%}
            <tr>
                <td>{{mod.pretty_name}} ({{mod.name}})</td>
                <td>{{mod.version}}</td>
                <td>
                    <div class="tablewidth">
                        <a href=""><button type="button" class="btn btn-danger">Remove</button></a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <div class="placetwo minwidth maxwidth">
        <form method="post" action="">
            <div class="mb-3" ">
        <label for=" pretty_name " class=" form-label ">selected modpack</label>
        <input type=" text " class=" form-control " name=" pretty_name " id=" pretty_name " disabled readonly>
    </div>
  <div class=" mb-3 ">
      <label for=" mcversion " class=" form-label ">Minecraft version</label>
      <select class=" form-select "  name=" mcversion " id=" mcversion ">
          <option>test</option>
  <input class=" btn btn-success " type=" submit " value=" Add build ">
    </form>
        <form method=" post " action=" ">
            <div class=" mb-3 " ">
                <label for="pretty_name " class="form-label ">selected modpack</label>
                <input type="text " class="form-control " name="pretty_name " id="pretty_name " disabled readonly>
            </div>
            <div class="mb-3 ">
                <label for="buildnumber " class="form-label ">Build number</label>
                <input type="text " class="form-control " name="buildnumber " id="buildnumber ">
            </div>
            <div class="mb-3 ">
                <label for="mcversion " class="form-label ">Minecraft version</label>
                <select class="form-select " name="mcversion " id="mcversion ">
                    <option>test</option>
            </div>
            <div class="mb-3 ">
                <label for="clonebuild " class="form-label ">Clone build</label>
                <select class="form-select " name="clonebuild " id="clonebuild ">
                    <option>Do not clone</option>
            </div>
            <div class="mb-3 ">
                <label for="description " class="form-label ">Minium Java Version</label>
                <select class="form-select " name="description " id="description ">
                    <option>No requirement</option>
            </div>
            <div class="mb-3 ">
                <label for="memory " class="form-label ">Minimum Memory requirement in MB, 0 for disable</label>
                <input type="text " class="form-control " name="memory " id="memory ">
            </div>
            <input class="btn btn-success " type="submit " value="Save changes">
            <input class="btn btn-danger " type="submit " value="Delete build">
        </form>
        {% if success %}
        <div class="alert alert-success loginfail mx-auto " role="alert ">
            <p>{{mod.vmd5}}</p>
            <p>{{mod.vurl}}</p>
        </div>
        {% endif %}
        {% if failed %}
        <div class="alert alert-danger loginfail mx-auto " role="alert ">
            <p>Failed!</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}