{%extends "layout.html"%} {% set active_page = "modpacklibrary" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}" /> {%endblock%}{%block main%}

<div class="">
    <table class="table table-striped table-hover maxheighttable">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name (Slug)</th>
                <th scope="col">Rec</th>
                <th scope="col">Latest</th>
                <th scope="col">Hidden</th>
                <th scope="col">Private</th>
                <th scope="col">Pin to menu</th>
                <th scope="col" class="action">Action</th>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in modpacklibrary%}
            <tr>
                <td class="tablewidthid">{{mod.id}}</td>
                <td>{{mod.name}} ({{mod.slug}})</td>
                <td>{{mod.recommended}}</td>
                <td>{{mod.latest}}</td>
                <td><input class="form-check-input" type="checkbox" value="" id="hidden_{{mod.id}}" onclick="submitecheckedpress('hidden_modid', '{{mod.id}}', 'hidden_check', 'hidden_{{mod.id}}', 'hidden_submit')" {% if mod.hidden %}checked{% endif %}></td>
                <td><input class="form-check-input" type="checkbox" value="" id="private_{{mod.id}}" onclick="submitecheckedpress('private_modid', '{{mod.id}}', 'private_check', 'private_{{mod.id}}', 'private_submit')" {% if mod.private %}checked{% endif %}></td>
                <td><input class="form-check-input" type="checkbox" value="" id="pinned_{{mod.id}}" onclick="submitecheckedpress('pinned_modid', '{{mod.id}}', 'pinned_check', 'pinned_{{mod.id}}', 'pinned_submit')"" {% if mod.pinned %}checked{% endif %} disabled></td>
                <td>
                    <a href=" ./modpack/{{mod.id}}"><button type="button" class="btn btn-primary buttonwidth">Manage</button></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="hidden_check" id="hidden_check" readonly>
        <input type="text" class="form-control invisible" name="hidden_modid" id="hidden_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="hidden_submit" id="hidden_submit" value="Delete">
    </form>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="private_check" id="private_check" readonly>
        <input type="text" class="form-control invisible" name="private_modid" id="private_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="private_submit" id="private_submit" value="Delete">
    </form>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="pinned_check" id="pinned_check" readonly>
        <input type="text" class="form-control invisible" name="pinned_modid" id="pinned_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="pinned_submit" id="pinned_submit" value="Delete">
    </form>
</div>
{% endblock %}
{%block aside%}
<div class="">
    <form method="post" action="">
        <div class="mb-3">
            <label for="pretty_name" class="form-label">Modpack Name</label>
            <input type="text" class="form-control" name="pretty_name" id="pretty_name" required onkeyup="toslug('name', 'pretty_name')">
        </div>
        <div class="mb-3 "">
                        <label for=" name" class="form-label">Modpack Slug</label>
            <input type="text" class="form-control" name="name" id="name" readonly>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="hidden" name="hidden">
            <label class="form-check-label" for="hidden">Hidden</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="private" name="private">
            <label class="form-check-label" for="private">Private</label>
        </div>
        <input class="btn btn-success" type="submit" value="Add modpack" name="form-submit">
    </form>
    {% if success %}
    <div class="alert alert-success loginfail mx-auto " role="alert ">
        <p>{{mod.vmd5}}</p>
        <p>{{mod.vurl}}</p>
    </div>
    {% endif %} {% if failed %}
    <div class="alert alert-danger loginfail mx-auto " role="alert ">
        <p>Failed!</p>
    </div>
    {% endif %}
</div>

<script src="{{ url_for('static',filename='js/solderpy.js') }}"></script>
{% endblock %}