{%extends "layout.html"%} {% set active_page = "modpacklibrary" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modlibrary.css') }}" /> {%endblock%}{%block main%}

<div class="wrappermod">
    <table class="table table-striped table-hover placeone maxheighttable">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name (Slug)</th>
                <th scope="col">Rec</th>
                <th scope="col">Latest</th>
                <th scope="col">Hidden</th>
                <th scope="col">Private</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in modpacklibrary%}
            <tr>
                <td>{{mod.id}}</td>
                <td>{{mod.name}} ({{mod.slug}})</td>
                <td>{{mod.recommended}}</td>
                <td><input class="form-check-input" type="checkbox" value="" id="latest"{% if mod.latest %}checked{% endif %}></td>
                <td><input class="form-check-input" type="checkbox" value="" id="hidden"{% if mod.hidden %}checked{% endif %}></td>
                <td><input class="form-check-input" type="checkbox" value="" id="hidden"{% if mod.private %}checked{% endif %}></td>
                <td>
                    <div class="tablewidth">
                        <a href="./modpack/{{mod.id}}"><button type="button" class="btn btn-primary">Manage</button></a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <div class="placetwo minwidth maxwidth">
        <form method="post" action="">
            <div class="mb-3">
                <label for="pretty_name" class="form-label">Modpack Name</label>
                <input type="text" class="form-control" name="pretty_name" id="pretty_name">
            </div>
            <div class="mb-3 "">
                        <label for=" name" class="form-label">Modpack Slug</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Hidden">
                <label class="form-check-label" for="Hidden">Hidden</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Private">
                <label class="form-check-label" for="Private">Private</label>
            </div>
            <input class="btn btn-success" type="submit" value="Add modpack">
        </form>
        {% if success %}
        <div class="alert alert-success loginfail mx-auto " role="alert ">
            <p>{{mod.vmd5}}</p>
            <p>{{mod.vurl}}</p>
        </div>
        {% endif %} {% if failed %}
        <div class="alert alert-danger loginfail mx-auto " role="alert ">
            <p>Failed!</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}