{%extends "layout.html"%} {% set active_page = "modpacklibrary" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}" /> {%endblock%}{%block main%}

<div class="">
    <table class="table table-striped table-hover maxheighttable">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Build</th>
                <th scope="col">MC Version</th>
                <th scope="col">Mod count</th>
                <th scope="col">Rec</th>
                <th scope="col">Latest</th>
                <th scope="col">Published</th>
                <th scope="col">Private</th>
                <th scope="col">Marked</th>
                <th scope="col" class="actionmcil">Actions</th>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in modpack%}
            <tr>
                <td  class="tablewidthid">{{mod.id}}</td>
                <td>{{mod.version}}</td>
                <td>{{mod.minecraft}}</td>
                <td>{{mod.author}}</td>
                <td><input class="form-check-input" type="radio" name="flexRadioDefault" value="" id="rec_{{mod.id}}" onclick="submitecheckedpress('recommended_modid', '{{mod.version}}', 'recommended_check', 'rec_{{mod.id}}', 'recommended_submit')" {%
                        if modpackname.recommended == mod.version %}checked{% endif %} ></td>
                <td><input class="form-check-input" type="radio" name="flexRadioDefault1" value=""
                        id="latest_{{mod.id}}" onclick="submitecheckedpress('latest_modid', '{{mod.version}}', 'latest_check', 'latest_{{mod.id}}', 'latest_submit')" {% if modpackname.latest == mod.version %}checked{% endif %} ></td>
                <td><input class="form-check-input" type="checkbox" value="" id="published_{{mod.id}}" onclick="submitecheckedpress('is_published_modid', '{{mod.id}}', 'is_published_check', 'published_{{mod.id}}', 'is_published_submit')" {% if
                        mod.is_published %}checked{% endif %} ></td>
                <td><input class="form-check-input" type="checkbox" value="" id="private_{{mod.id}}" onclick="submitecheckedpress('private_modid', '{{mod.id}}', 'private_check', 'private_{{mod.id}}', 'private_submit')" {% if mod.private
                        %}checked{% endif %} ></td>
                <td><input class="form-check-input" type="radio" name="markedbuild" id="marked_{{mod.id}}" onclick="submitecheckedpress('marked_modid', '{{mod.id}}', 'marked_check', 'marked_{{mod.id}}', 'marked_submit')" {% if mod.marked
                        %}checked{% endif %} ></td>
                <td>
                    <div class="maxcont">
                        <a href="../modpackbuild/{{mod.id}}"><button type="button"
                                class="btn btn-primary buttonwidth">Manage</button></a>
                        <a href="../modpackbuild/{{mod.id}}"><button type="button" class="btn btn-secondary buttonwidthmcil" disabled>Export
                                MCIL</button></a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="recommended_check" id="recommended_check" readonly>
        <input type="text" class="form-control invisible" name="recommended_modid" id="recommended_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="recommended_submit" id="recommended_submit" value="Delete">
    </form>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="latest_check" id="latest_check" readonly>
        <input type="text" class="form-control invisible" name="latest_modid" id="latest_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="latest_submit" id="latest_submit" value="Delete">
    </form>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="is_published_check" id="is_published_check" readonly>
        <input type="text" class="form-control invisible" name="is_published_modid" id="is_published_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="is_published_submit" id="is_published_submit" value="Delete">
    </form>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="private_check" id="private_check" readonly>
        <input type="text" class="form-control invisible" name="private_modid" id="private_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="private_submit" id="private_submit" value="Delete">
    </form>
    <form method="post" action="">
        <input type="text" class="form-control invisible" name="marked_check" id="marked_check" readonly>
        <input type="text" class="form-control invisible" name="marked_modid" id="marked_modid" readonly>
        <input class="btn btn-danger invisible" type="submit" name="marked_submit" id="marked_submit" value="Delete">
    </form>
</div>
{% endblock %}
{%block aside%}

<div class="">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="selected_name" class="form-label">Selected modpack</label>
            <input type="text" class="form-control" name="selected_name" id="selected_name" value="{{modpackname.name}}" disabled readonly></input>
        </div>
        <div class="mb-3">
            <label for="version" class="form-label">Build number</label>
            <input type="text" class="form-control" name="version" id="version" required></input>
        </div>
        <div class="mb-3">
            <label for="mcversion" class="form-label">Minecraft version</label>
            <input type="text" class="form-control" name="mcversion" id="mcversion" required></input>
        </div>
        <div class="mb-3 gridswrapper">
            <label for="clonebuild" class="form-label grid1">Clone build</label>
            <label for="clonebuildman" class="form-label grid3">Clone Build ID</label>
            <select class="form-select grid2" name="clonebuild" id="clonebuild">
                <option value="">N/A</option>
                {%for mod in modpack%}
                <option value="{{mod.id}}">{{mod.version}}</option>
                {%endfor%}
            </select>
            
            <input type="text" class="form-control grid4" name="clonebuildman" id="clonebuildman"></input>
        </div>
        <div class="mb-3">
            <label for="min_java" class="form-label">Minium Java Version</label>
            <select class="form-select" name="min_java" id="min_java">
                <option>NONE</option>
                <option>1.6</option>
                <option>1.7</option>
                <option>1.8</option>
                <option>16</option>
                <option>17</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="memory" class="form-label">Minimum Memory requirement in MB, 0 for disable</label>
            <input type="text" class="form-control" name="memory" id="memory" value="0"></input>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="publish" name="publish">
            <label class="form-check-label" for="publish">Publish</label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="private" name="private" checked>
            <label class="form-check-label" for="private">Private</label>
        </div>
        <input class="btn btn-success" type="submit" value="Add build" name="form-submit" id="form-submit"></input>
    </form>
    {% if success %}
    <div class="alert alert-success loginfail mx-auto" role="alert">
        <p>{{mod.vmd5}}</p>
        <p>{{mod.vurl}}</p>
    </div>
    {% endif %}
    {% if failed %}
    <div class="alert alert-danger loginfail mx-auto" role="alert">
        <p>Failed!</p>
    </div>
    {% endif %}
</div>

<script src="{{ url_for('static',filename='js/solderpy.js') }}"></script>
{% endblock %}