{%extends "layout.html"%} {% set active_page = "modpacks" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modlibrary.css') }}" /> {%endblock%}{%block main%}

<div class="wrappermod">
    <table class="table table-striped table-hover placeone">
        <thead class="table-light sticky-md-top">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name (Slug)</th>
                <th scope="col">Author</th>
                <th scope="col">Rec</th>
                <th scope="col">Latest</th>
                <td>
                    <div class="">
                        <a href="{{ url_for('newmodpack') }}"><button type="button" class="btn btn-success tablewidth2">New modpack</button></a>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody class="">
            {%for mod in mods%}
            <tr>
                <td>{{mod.id}}</td>
                <td>{{mod.pretty_name}} ({{mod.name}})</td>
                <td>{{mod.author}}</td>
                <td>{{mod.author}}</td>
                <td>{{mod.author}}</td>
                <td>
                    <div class="tablewidth">
                        <a href="{{ url_for('modpackversion') }}"><button type="button" class="btn btn-primary">Manage</button></a>
                        <a href="{{ url_for('editmodpack') }}"><button type="button" class="btn btn-secondary">Edit</button></a>
                        <a href="{{ url_for('newmodpackbuild') }}"><button type="button" class="btn btn-secondary">New build</button></a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <div class="placetwo minwidth maxwidth">
        <form method="post" action="">
            <div class="mb-3" ">
        <label for="pretty_name " class="form-label ">selected mod</label>
        <input type="text " class="form-control " name="pretty_name " id="pretty_name " disabled readonly>
    </div>
        <div class="mb-3 ">
          <label for="formFile " class="form-label ">Select file</label>
          <input class="form-control " type="file " id="formFile ">
        </div>
        <div class="mb-3 "">
                <label for="md5" class="form-label">md5</label>
                <input type="text" class="form-control" name="md5" id="md5" disabled readonly>
            </div>
            <label>Select type</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
            MOD.JAR
          </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
            Launcher
          </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
            ZIP
          </label>
            </div>
            <div class="mb-3" ">
            <label for="version " class="form-label ">Version number</label>
            <input type="text " class="form-control " name="version " id="version ">
        </div>
        <input class="btn btn-success " type="submit " value="Add Version ">
    </form>
    {% if success %}
    <div class="alert alert-success loginfail mx-auto " role="alert ">
      <p>{{mod.vmd5}}</p>
      <p>{{mod.vurl}}</p>
    </div>
    {% endif %}
    {% if failed %}
    <div class="alert alert-danger loginfail mx-auto " role="alert ">
      <p>Failed!</p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}