{%extends "layout.html"%}
{% set active_page = "modversion" %}
{%block head%}
<title>solder.py</title>

{%endblock%}{%block main%}

<div class="">
  <form method="post" action="">
      <div class="mb-3">
        <label for="formFile" class="form-label">Select file</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3"">
          <label for="pretty_name" class="form-label">md5</label>
          <input type="text" class="form-control" name="pretty_name" id="pretty_name" disabled readonly>
      </div>
      <label>Select type</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          MOD.JAR
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Launcher
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          ZIP
        </label>
      </div>
      <div>
        <label for="select" class="form-label">Select mod</label>
        <select class="form-select" aria-label="Default select" name="select">
          <option selected>Open this select menu</option>
        </select>
      </div>
      <div class="mb-3"">
          <label for="author" class="form-label">Version number</label>
          <input type="text" class="form-control" name="author" id="author">
      </div>
      <input class="btn btn-success" type="submit" value="Add Version">
  </form>
</div>
{% endblock %}
