{%extends "layout.html"%}
{% set active_page = "modversion" %}
{%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/modversion.css') }}"/>
{%endblock%}{%block main%}

<div class="wrappermod">
  <div class="placeone">
    <form method="post" action="">
        <div class="mb-3"">
            <label for="pretty_name" class="form-label">Mod Name</label>
            <input type="text" class="form-control" name="pretty_name" id="pretty_name">
        </div>
        <div class="mb-3"">
            <label for="name" class="form-label">Mod Slug</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3"">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" name="author" id="author">
        </div>
        <div class="mb-3"">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" rows="5"></textarea>
        </div>
        <div class="mb-3"">
            <label for="link" class="form-label">Mod Website</label>
            <input type="text" class="form-control" name="link" id="link">
        </div>
        <input class="btn btn-success" type="submit" value="Save changes">
        <input class="btn btn-danger" type="submit" value="Delete Mod">
    </form>
</div>
  <table class="table placetwo">
    {%for mod in mods%}
    <tr>
      <td>{{mod.versiob}}</td>
      <td>{{mod.md5}}</td>
      <td>{{mod.url}}</td>
      <td>
        <a href="#"><button type="button" class="btn btn-primary">Rehash</button></a>
      </td>
      <td>
        <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
      </td>
    </tr>

    {%endfor%}
  </table>
</div>
{% endblock %}
