{%extends "layout.html"%} {% set active_page = "Clientslist" %} {%block head%}
<title>solder.py</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
{%endblock%}{%block main%}

<table class="table table-striped table-hover placeone maxheighttable">
    <thead class="table-light sticky-md-top">
        <tr>
            <form method="post" action=""></form>
            <th scope="col">ID</th>
            <th scope="col">
                <div class="mb-3">
                    <label for="author" class="form-label">EMAIL</label>
                    <input type="text" class="form-control" name="author" id="author">
                </div>
            </th>
            <th scope="col">
                <div class="mb-3">
                    <label for="pretty_name" class="form-label">USERNAME</label>
                    <input type="text" class="form-control" name="pretty_name" id="pretty_name">
                </div>
            </th>
            <td>
                <input class="btn btn-success" type="submit" value="Add User">
            </td>
            </form>
        </tr>
    </thead>
    <tbody class="">
        {%for mod in users%}
        <tr>
            <td>{{mod.id}}</td>
            <td>{{mod.email}}</td>
            <td>{{mod.username}}</td>
            <td>
                <a href="#"><button type="button" class="btn btn-primary">Manage</button></a>
                <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}